{% if user.is_authenticated %}
    <div>
        <button class="btn"
                hx-get="{% url 'events_user' page=1 %}"
                hx-target="#row-right"
                hx-swap="innerHTML"
                hx-push-url="true">
                записи
        </button>
    </div>

{% if user.is_organization %}

    <div>
        <button class="btn"
                hx-get="{% url 'organization_profile' %}"
                hx-target="#row-right"
                hx-swap="innerHTML"
                hx-push-url="true">
                организация
        </button>
    </div>

    <div>
        <button hx-get="{% url 'org_employees_list' page=1 %}"
                hx-target="#row-right"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="btn">
                сотрудники
        </button>
    </div>

    <div>
        <button hx-get="{% url 'org_events_list' page=1 %}"
                hx-target="#row-right"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="btn">
                мероприятия
        </button>
    </div>

{% endif %}

    <div>
        <button class="btn"
                hx-get="{% url 'account_email' %}"
                hx-target="#central-col">
                почта
        </button>
    </div>

    <div>
        <button class="btn"
                hx-get="{% url 'account_change_password' %}"
                hx-target="#central-col">
                изменить пароль
        </button>
    </div>

    <div>
        <button class="btn"
                hx-post="{% url 'profile_delete' %}"
                hx-target="#row-main"
                hx-select="#row-main"
                hx-swap="innerHTML">
                удалить профиль
        </button>
    </div>

    <div>
        <button class="btn"
                hx-post="{% url 'account_logout' %}"
                hx-target="#row-main"
                hx-select="#row-main"
                hx-push-url="{% url 'home' %}">
                выход
        </button>
    </div>

{% endif %}

<script type="module">
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
</script>