{% extends 'events/event_info.html' %}


{% block org_bar %}
    {{ block.super }}
{% endblock org_bar %}

{% block event_info %}
    <div><label>Название</label>: {{ event.name }}</div>
    <div><label>Сотрудники</label>:
        {% for employee in employees %}

            <a hx-get="{% url 'employee_info' org_pk=organization_id pk=employee.id %}"
               hx-target="#event-profile"
               hx-swap="outerHTML"
               hx-push-url="{% url 'employee_info' org_pk=organization_id pk=employee.id %}">
               {{ employee.name }}
            </a>

        {% endfor %}
    </div>

    <button hx-get="{% url 'event_records' pk=event.id org_pk=organization_id user_pk=user.id %}"
        class="btn"
        hx-target="#record-all"
        hx-push-url="{% url 'event_records' pk=event.id org_pk=organization_id user_pk=user.id %}"
        hx-swap="innerHTML">
        записи
    </button><br>
{% endblock event_info %}

{% block record_all %}
    {% if records %}
        {% for record in records %}
            {% include 'records/pattern/event_records.html' %}
        {% endfor %}
    {% endif %}
{% endblock record_all %}


