{% extends "auth_allauth.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}

{% block head_title %}Управление Email{% endblock head_title %}

{% block body %}

    {% if messages %}
        {% for m in messages %}
            {% if new_emailaddress.email in m.message %}
                {{ m.message|json_script:'message' }}
            {% endif %}
        {% endfor %}

        <script id="message" type="module">

            let MyPopover = new bootstrap.Popover(document.querySelector('#email-confirmation-submit'), {
                content: JSON.parse(message[0].textContent),
                container: 'body',
                placement: 'right',
            })

            MyPopover.show()

            let myPopoverTrigger = document.querySelector('#email-confirmation-submit')
            myPopoverTrigger.addEventListener('shown.bs.popover', () => {
                setTimeout(() => MyPopover.hide(), 2000)
            })

        </script>

    {% endif %}

{% block content %}

    {% if emailaddresses %}
        {% if current_emailaddress %}
            <p>
                Ваш Email: <a href="mailto:{{ current_emailaddress.email }}">{{ current_emailaddress.email }}</a> подтвержден
            </p>
        {% endif %}
        {% if new_emailaddress %}
            <p>
                Ваш новый Email: <a href="mailto:{{ new_emailaddress.email }}">{{ new_emailaddress.email }}</a> ожидает подтверждения
            </p>
            <form id="account-email"
                  hx-post="{% url 'account_email' %}"
                  hx-target="#modal-form"
                  hx-swap="innerHTML">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
                <input tabindex="0" id="email-confirmation-submit" type="submit" name="action_send" class="btn btn-secondary" value="Отправить подтверждение">
            </form>
        {% endif %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}

    <p>Изменить Email адрес</p>

    {% crispy form %}

{% endblock content %}


{% endblock body %}
