{% extends "auth_allauth.html" %}
{% load crispy_forms_tags %}

{% block body %}
    {% if messages %}
        {% for m in messages %} {{ m.message|json_script:'message' }} {% endfor %}

        <script id="message" type="module">

            let MyPopover = new bootstrap.Popover(document.querySelector('#submit-id-submit'), {
                content: JSON.parse(message[0].textContent),
                container: 'body',
                placement: 'right',
            })

            MyPopover.show()

            let myPopoverTrigger = document.querySelector('#submit-id-submit')
            myPopoverTrigger.addEventListener('shown.bs.popover', () => {
                setTimeout(() => MyPopover.hide(), 2000)
            })
        </script>

    {% endif %}
    {% block content %}

        {% crispy form %}

    {% endblock content %}
{% endblock body %}


