{% extends 'base.html' %}

{% block title %} мероприятия {% endblock title %}


{% block left_col %}
<!--Левая колонка-->
    <div class="col-2 pt-5">
        <div class="p-3"></div>
    </div>
{% endblock left_col %}


{% block central_col %}
<!--Центральная колонка-->
    <div class="col-8 px-5 pt-5">
        <div id="central-col">

            {% block org_bar %}
            {% endblock org_bar %}

                {% block event_profile %}
                    <div id="event-list">
                        {% if events %}

                            {% for event in events %}
                                {% include 'events/pattern/events_all.html' %}
                            {% endfor %}

                        {% include 'events/pattern/paginator.html' %}

                        {% else %}

                            <div>Пусто</div>

                        {% endif %}
                    </div>
                {% endblock event_profile %}

        </div>
    </div>
{% endblock central_col %}


{% block right_col %}
<!--Правая колонка-->
    <div class="col-2 pt-5">
        <div class="p-3"></div>
    </div>
{% endblock right_col %}

{% block script %}
{% endblock script %}