{% extends 'events/org_events.html' %}


{% block left_col %}
<!--Левая колонка-->
    <div class="col-2 pt-5">
        <div class="p-3">
            {% include 'organizations/organization_bar.html' %}
        </div>
    </div>
{% endblock left_col %}


{% block event_profile %}
    <div id="event-profile">

        {% block event_info %}
            {% include 'events/pattern/event_info.html' %}
        {% endblock event_info %}

        {% block record_all %}
            <div id="event-records-all-with-filters"></div>
        {% endblock record_all %}

    </div>
{% endblock event_profile %}


{% block right_col %}
    <!--Правая колонка-->
    <div class="col-2">
        <div class="p-3">
        </div>
    </div>
{% endblock right_col %}