{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} мероприятия {% endblock title %}


{% block left_col %}
<!--Левая колонка-->
    <div class="col-2 pt-5">
        <div class="p-3">

        </div>
    </div>
{% endblock left_col %}


{% block central_col %}
<!--Центральная колонка-->
    <div class="col-10 px-5">
        <div class="p-3" id="central-col">

            {% block event_profile %}
                <div id="event-list">
                    {% if events %}

                        {% for event in events %}
                            {% include 'events/pattern/events_all.html' %}
                        {% endfor %}

                    {% include 'events/pattern/paginator_events_all.html' %}

                    {% else %}

                        <div>Пусто</div>

                    {% endif %}
                </div>
            {% endblock event_profile %}

        </div>
    </div>
{% endblock central_col %}


{% block right_col %}
    <!--Правая колонка-->
    <div class="col-2">
        <div class="p-3">
            <form hx-get="{% url 'events_all' page=1 %}"
                  hx-target="#event-list"
                  hx-select="#event-list"
                  hx-params="*"
                  hx-swap="outerHTML"
                  hx-push-url="true">

                  {{ filter_form | crispy }}

                <input class="btn" type="submit" value="Найти">
            </form>
        </div>
    </div>
{% endblock right_col %}

{% block script %}
{% endblock script %}