<div>
    {{ employee.name }}
    <button hx-get="{% url 'employee_profile' org_pk=organization_id emp_pk=employee.id %}"
            hx-target="#emp-profile"
            hx-push-url="true"
            class="btn">
            профиль
    </button>

    <button hx-delete="{% url 'employee_profile' org_pk=organization_id emp_pk=employee.id %}?page={{ page_number }}"
            hx-target="closest div"
            hx-swap="outerHTML"
            class="btn">
            удалить
    </button>
</div>
