{% extends 'profile/profile.html' %}


{% block central_col %}

    <div class="col-10 px-5">
        <div class="p-3"
             id="central-col">

            {% block org_profile %}

                {% if organization %}

                    {% include 'organizations/pattern/profile.html' %}

                {% else %}

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                {% include 'organizations/pattern/organization_none.html' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endif %}

            {% endblock org_profile %}

        </div>
    </div>

{% endblock central_col %}

<!--Правая колонка-->
{% block right_col %}
    <div class="col-2">
        <div class="p-3">
        </div>
    </div>
{% endblock right_col %}