<p>
    <button hx-get="{% url 'employees_list' pk=organization_id %}"
            id="emp"
            hx-target="#org-profile"
            hx-select="#org-profile"
            hx-push-url="{% url 'employees_list' pk=organization_id %}"
            class="btn">
            сотрудники
    </button>

    <button hx-get="{% url 'events_list' pk=organization_id %}"
            hx-target="#org-profile"
            hx-select="#org-profile"
            hx-push-url="{% url 'events_list' pk=organization_id %}"
            class="btn">
            мероприятия
    </button>
</p>