<div id="org-bar">
    <p>
        <button hx-get="{% url 'organization_info' pk=organization_id %}"
                hx-target="next div"
                hx-select="#org-profile"
                hx-swap="outerHTML"
                hx-push-url="{% url 'organization_info' pk=organization_id %}"
                class="btn">
                организация
        </button>

        <button hx-get="{% url 'organization_employees' pk=organization_id %}"
                hx-target="next div"
                hx-swap="outerHTML"
                hx-push-url="{% url 'organization_employees' pk=organization_id %}"
                class="btn">
                сотрудники
        </button>

        <button hx-get="{% url 'organization_events' pk=organization_id %}"
                hx-target="next div"
                hx-swap="outerHTML"
                hx-push-url="{% url 'organization_events' pk=organization_id %}"
                class="btn">
                мероприятия
        </button>
    </p>
</div>
