<div class="row"
     id="row-main">

    <!--Левая колонка-->
    {% block left_col %}
        <div class="col-2 pt-5">
            <div class="p-3"></div>
        </div>
    {% endblock left_col %}

    {% block central_col %}
    <!--Центральная колонка-->
        <div class="col-8 px-5 pt-5">
            <div id="central-col">
                <div id="event-list">

                    {% if events %}

                        {% for event in events %}
                            {% include 'events/pattern/events_all.html' %}
                        {% endfor %}

                        {% include 'events/pattern/paginator.html' %}

                    {% else %}

                        <div>Пусто</div>

                    {% endif %}

                </div>
            </div>
        </div>
    {% endblock central_col %}

    {% block right_col %}
    <!--Правая колонка-->
        <div class="col-2 pt-5">
            <div class="p-3"></div>
        </div>
    {% endblock right_col %}

</div>