{% extends 'organizations/organization_profile.html' %}

{% block org_profile %}

    {% block org_config %}
        {{ block.super }}
    {% endblock org_config %}

    <div id="org-profile">
        <div>
            <button hx-get="{% url 'event_form_create' pk=organization_id %}"
                    hx-target="#events-list"
                    hx-swap="afterbegin"
                    class="btn">
                добавить мероприятие
            </button>
        </div>

        <div id="events-list">
            {% if events %}
                {% for event in events %}
                    {% include 'events/event_create.html' %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock org_profile %}

