<li class="nav-item">
    <a class="nav-link text-white"
       hx-get="{% url 'account_login' %}"
       role="button"
       hx-target="#modal-form-login"
       data-bs-toggle="modal"
       data-bs-target="#modal-window-login">
       вход
    </a>
</li>

<li class="nav-item">
    <a class="ms-2 nav-link text-white"
       hx-get="{% url 'account_signup' %}"
       role="button"
       hx-target="#modal-form-signup"
       data-bs-toggle="modal"
       data-bs-target="#modal-window-signup">
       регистрация
    </a>
</li>
