<li class="nav-item"><a class="nav-link text-white"
                        hx-get="{% url 'account_login' %}"
                        role="button"
                        hx-target="#modal-form"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">вход</a></li>

<li class="nav-item"><a hx-get="{% url 'account_signup' %}"
                        class="ms-2 nav-link text-white"
                        role="button"
                        hx-target="#modal-form"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">регистрация</a></li>
