{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'core/bootstrap5/css/bootstrap.css' %}" rel="stylesheet">
    <script defer src="{% static 'core/bootstrap5/js/bootstrap.bundle.js' %}"></script>
    <script defer src="{% static 'core/htmx/htmx.min.js' %}"></script>
    <script defer src="{% static 'core/js/custom_js.js' %}"></script>
    <title>{% block title %}Главная{% endblock %}</title>

</head>

<body style="background-color:white">
<!--Верхняя навигационная панель-->
<nav class=" navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class=" container-fluid ">
        <div class="d-flex flex-row bd-highlight">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="me-2 nav-link text-white"
                       role="button"
                       hx-get="{% url 'events_all' %}"
                       hx-target="#central-col">мероприятия
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"
                       role="button"
                       hx-get="{% url 'org_all' %}"
                       hx-target="#central-col">организации
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight" id="parent-div">
            <ul class="navbar-nav"
                id="nav-bar">
                {% if user.is_authenticated %}
                    {% block profile_nav_bar %}

                        {% include 'auth_user_nav_bar.html' %}

                    {% endblock profile_nav_bar %}
                {% else %}

                    {% include 'anonym_user_nav_bar.html' %}

                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block modal %}
    <!-- Модальное окно регистрации пользователя-->
    <div class="modal" id="modal-window-signup" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-window-auth-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body" id="modal-form-signup">
                </div>
            </div>
        </div>
    </div>
<!-- Модальное окно входа пользователя-->
    <div class="modal" id="modal-window-login" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-window-auth-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body" id="modal-form-login">
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}

<div class="container-fluid" id="container">
    <div class="row"
         id="row-main">
        {% block row_main %}
        <!--Левая колонка-->
        <div class="col-2 pt-5">
            <div class="p-3">
                {% block left_col %}
                {% endblock left_col %}
            </div>
        </div>
        <!--Центральная колонка-->
        <div class="col-8 px-5 pt-5">
            <div id="central-col" class="pt-5">
                {% block profile_info %}
                {% endblock profile_info %}
            </div>
        </div>
        <!--Правая колонка-->
        <div class="col-2 pt-5">
            <div class="p-3">
                {% block right_col %}
                {% endblock right_col %}
            </div>
        </div>
        {% endblock row_main %}
    </div>
</div>


</body>
</html>

