{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'core/bootstrap5/css/bootstrap.css' %}" rel="stylesheet">
    <script defer src="{% static 'core/bootstrap5/js/bootstrap.bundle.js' %}"></script>
    <script defer src="{% static 'core/htmx/htmx.min.js' %}"></script>
    <script defer src="{% static 'core/js/custom_js.js' %}"></script>
    <title>{% block title %} Главная {% endblock title %}</title>
</head>

<body style="background-color:white">

{% block nav_bar %}
    <!--Верхняя навигационная панель-->
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class=" container-fluid ">
            <div class="d-flex flex-row bd-highlight">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="me-2 nav-link text-white"
                           role="button"
                           hx-get="{% url 'events_all' page=1 %}"
                           hx-target="#row-main"
                           hx-swap="outerHTML"
                           hx-push-url="true">
                           мероприятия
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white"
                           role="button"
                           hx-get="{% url 'organizations_all' page=1 %}"
                           hx-target="#row-main"
                           hx-swap="outerHTML"
                           hx-push-url="true">
                           организации
                        </a>
                    </li>

                </ul>
            </div>
            <div class="d-flex flex-row-reverse bd-highlight" id="parent-div">
                <ul class="navbar-nav"
                    id="nav-bar">
                    {% if user.is_authenticated %}
                        {% block profile_nav_bar %}

                            {% include 'auth_user_nav_bar.html' %}

                        {% endblock profile_nav_bar %}
                    {% else %}

                        {% include 'anonym_user_nav_bar.html' %}

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock nav_bar %}


{% block modal %}
    <!-- Модальное окно регистрации пользователя-->
    <div class="modal" id="modal-window-signup" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-window-auth-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body" id="modal-form-signup">
                </div>
            </div>
        </div>
    </div>
<!-- Модальное окно входа пользователя-->
    <div class="modal"
         id="modal-window-login"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="modal-window-auth-label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body"
                     id="modal-form-login">
                </div>
            </div>
        </div>
    </div>

<!--Модальное окно ссылки на регистрацию-->
<div class="modal" tabindex="-1" id="modal-link-auth">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <h5>Необходима регистрация</h5>
        </div>
        </div>
    </div>
</div>


{% endblock modal %}

<div class="container-fluid" id="container">

    <div class="row"
         id="row-main">

        <!--Левая колонка-->
        {% block left_col %}
            <div class="col-2 pt-5">
                <div class="p-3"></div>
            </div>
        {% endblock left_col %}

        <div class="col-10 pt-5">
            <div class="row"
             id="row-right">

                {% block central_col %}
                <!--Центральная колонка-->
                    <div class="col-10 px-5">
                        <div class="p-3" id="central-col"></div>
                    </div>
                {% endblock central_col %}

                {% block right_col %}
                <!--Правая колонка-->
                    <div class="col-2">
                        <div class="p-3"></div>
                    </div>
                {% endblock right_col %}

            </div>
        </div>
    </div>
</div>


{% block script %}
{% endblock script %}

</body>
</html>

