{% if user.is_authenticated %}
<!--Левая колонка-->
    <div class="col-2 pt-5">
        <div class="p-3">
            {% include 'profile_conf.html' %}
        </div>
    </div>
    <!--Центральная колонка-->
    <div class="col-8 px-5 pt-5">
        <div id="central-col"
             hx-target="this"
             hx-swap="innerHTML">
            <div><label>Логин</label>: {{ user.username}}</div>
            <div><label>Имя</label>: {{ user.first_name}}</div>
            <div><label>Фамилия</label>: {{ user.last_name}}</div>
            <button hx-get="{% url 'profile_update' pk=user.id %}" class="btn">
            Редактировать
            </button>
        </div>
    </div>
    <!--Правая колонка-->
    <div class="col-2 pt-5">
        <div class="p-3">
        </div>
    </div>

{% else %}

    <p>Пожалуйста, войдите в аккаунт</p>

{% endif %}
