{% if object %}

    <div>
        <div><label>Название</label>: {{ object.name }}</div>
        <div><label>Категория</label>: {{ object.category }}</div>
        <button hx-get="{% url 'organization_update' %}" class="btn">
                редактировать
        </button>
        <button hx-post="{% url 'organization_delete' %}" class="btn">
                удалить
        </button>
    </div>

{% else %}

    <div>
        <button hx-get="{% url 'organization_create' %}" class="btn">
            создать организацию
        </button>
    </div>

{% endif %}