{% if organization %}

    <div>
        <div><label>Название</label>: {{ organization.name }}</div>
        <div><label>Категория</label>: {{ organization.category }}</div>
        <button hx-get="{% url 'organization_update' pk=organization.id %}" class="btn">
                редактировать
        </button>
        <button hx-post="{% url 'organization_delete' pk=organization.id %}" class="btn">
                удалить
        </button>
    </div>

{% else %}

    <div>
        <button hx-get="{% url 'organization_create' %}" class="btn">
            создать организацию
        </button>
    </div>

{% endif %}

