{% if user.is_authenticated %}
    <div>
        <button hx-get="{% url 'account_email' %}"
                hx-target="#central-col"
                class="btn">
            почта
        </button>
    </div>

    <div>
        <button hx-get="{% url 'account_change_password' %}"
                hx-target="#central-col"
                class="btn">
            изменить пароль
        </button>
    </div>

    <div>
        <button hx-post="{% url 'profile_delete' pk=user.id %}"
                class="btn"
                hx-target="#row-main"
                hx-swap="innerHTML">
            удалить профиль
        </button>
    </div>
{% endif %}

{% if user.is_organization %}

    <div>
        <button hx-get="{% url 'organization_profile' %}"
                hx-target="#central-col"
                class="btn">
            организация
        </button>
    </div>

    <div>
        <button hx-get="{% url 'employee_profile' %}"
                hx-target="#central-col"
                class="btn">
            сотрудники
        </button>
    </div>

    <div>
        <button hx-get="{% url 'event_profile' %}"
                hx-target="#central-col"
                class="btn">
            мероприятия
        </button>
    </div>

{% endif %}
