<script>
class ControllerForm {
    constructor(
        disabledBtn, activateBtn, closeForm,
        thiggerDisabledBtn,thiggerActivateBtn,
         thiggerCloseForm, btnShowForm=null
    ){
        this.disabledBtn = disabledBtn;
        this.activateBtn = activateBtn;
        this.closeForm = closeForm;
        this.thiggerDisabledBtn = thiggerDisabledBtn;
        this.thiggerActivateBtn = thiggerActivateBtn;
        this.thiggerCloseForm = thiggerCloseForm;
        this.btnShowForm = btnShowForm;
    }

    get disable(){
        if (this.btnShowForm){
            this.btnShowForm.setAttribute('disabled', '');
        }
        document.body.removeEventListener(this.thiggerDisabledBtn, this.disabledBtn);
        document.body.addEventListener(this.thiggerCloseForm, this.closeForm);
        document.body.addEventListener(this.thiggerActivateBtn, this.activateBtn);
        document.body.addEventListener('click', this.disabledBtn);
    }

    get activate(){
        this.btnShowForm.removeAttribute('disabled');
        document.body.removeEventListener(this.thiggerActivateBtn, this.activateBtn);
        document.body.removeEventListener(this.thiggerCloseForm, this.closeForm);
        document.body.removeEventListener('click', this.disabledBtn);
        document.body.addEventListener(this.thiggerDisabledBtn, this.disabledBtn);
    }

    get close(){
        this.btnShowForm.removeAttribute('disabled');
        document.body.removeEventListener(this.thiggerCloseForm, this.closeForm);
        document.body.removeEventListener('click', this.disabledBtn);
        document.body.addEventListener(this.thiggerDisabledBtn, this.disabledBtn);
    }
}
</script>