{% block left_col %}
    <div class="col-2 pt-5">
        <div class="p-3">
        </div>
    </div>
{% endblock left_col %}


{% block central_col %}
    <div class="col-8 px-5 pt-5">
        <div id="central-col">
            {% if organizations_all %}

                {% for organization in organizations_all %}
                    <div><label>Название</label>: {{ organization.name }}</div>
                    <div><label>Категория</label>: {{ organization.category }}</div><br>
                {% endfor %}

            {% else %}

                <div>Пусто</div>

            {% endif %}
        </div>
    </div>
{% endblock central_col %}


{% block right_col %}
    <div class="col-2 pt-5">
        <div class="p-3">
        </div>
    </div>
{% endblock right_col %}