<script>
document.body.addEventListener('disabledBtnFormEmp', disabledBtn)
function disabledBtn(e){
    controlBtnVisibility()
}

function activateBtn(e){
    const btnFormEmp = document.querySelector('#btn_show_form_emp');
    const btnDeleteFormEmp = document.querySelector('#btn_delete_form_emp');
    btnFormEmp.removeAttribute('disabled');
    document.body.removeEventListener('activateBtnFormEmp', activateBtn);
    document.body.addEventListener('disabledBtnFormEmp', disabledBtn)
}

function deleteForm(e){
    let form = document.querySelector('#employee-create-form');
    controlBtnVisibility(false)
    form.remove()
}

function controlBtnVisibility(disabled=true){
    const btnDeleteFormEmp = document.querySelector('#btn_delete_form_emp');
    const btnFormEmp = document.querySelector('#btn_show_form_emp')
    if (disabled){
        btnFormEmp.setAttribute('disabled', '');
        document.body.removeEventListener('disabledBtnFormEmp', disabledBtn);
        document.body.addEventListener('activateBtnFormEmp', activateBtn);
        btnDeleteFormEmp.addEventListener('click', deleteForm);
    }else{
        btnFormEmp.removeAttribute('disabled');
        btnDeleteFormEmp.removeEventListener('click', deleteForm)
        document.body.addEventListener('disabledBtnFormEmp', disabledBtn)
    }
}
</script>