<div><label>Название</label>: {{ event.name }}</div>
<div><label>Вход</label>: {{ event.status_tariff }}</div>
<div><label>Сотрудники</label>:
    {% if event.event_employees %}
        {% for employee in event.event_employees %}
            <a hx-get="{% url 'employee_info' org_pk=organization_id emp_pk=employee.id %}"
               hx-target="#event-profile"
               hx-swap="outerHTML"
               hx-push-url="true">
               {{ employee.name }}
            </a>
        {% endfor %}
    {% endif %}
</div>

<button hx-get="{% url 'event_records' event_pk=event.id org_pk=organization_id page=1 %}?{{params}}"
        class="btn"
        hx-target="#event-records-all-with-filters"
        hx-swap="outerHTML"
        hx-push-url="true">
        записи
</button><br>
