{% extends 'paginator.html' %}


{% block link_previous %}
    <a class="page-link"
       hx-get="{% url 'events_user' page=page_obj.previous_page_number %}?{{ params }}"
       hx-target="#user-events-list"
       hx-select="#user-events-list"
       hx-swap="outerHTML"
       hx-push-url="true">
       «
    </a>
{% endblock link_previous %}

{% block links_page_number %}
    <a class="page-link"
       hx-get="{% url 'events_user' page=number %}?{{ params }}"
       hx-target="#user-events-list"
       hx-select="#user-events-list"
       hx-swap="outerHTML"
       hx-push-url="true">
       {{ number }}
    </a>
{% endblock links_page_number %}

{% block link_next %}
    <a class="page-link"
       hx-get="{% url 'events_user' page=page_obj.next_page_number %}?{{ params }}"
       hx-target="#user-events-list"
       hx-select="#user-events-list"
       hx-swap="outerHTML"
       hx-push-url="true">
       »
    </a>
{% endblock link_next %}