<div id="record-profile">
    <p><label>Лимит участников</label>: {{ record.limit_clients }}</p>
    <p><label>Количество участников</label>: {{ record.quantity_clients }}</p>
    <p><label>Дата</label>: {{ record.datetime }}</p>

    <button class="btn"
            hx-put="{% url 'record_cancel' pk=record.id user_pk=user.id %}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}" }'
            hx-target="closest div"
            hx-swap="outerHTML">
            отменить
    </button>
</div>