{% if events_all %}

    {% for event in events_all %}
        <div><label>Название</label>: {{ event.name }}</div>
        <div><label>Сотрудники</label>:
            {% for employees_name in event.employees__name %}
                {{ employees_name | default:'not'}}
            {% endfor %}
        </div>
        <div><label>Лимит участников</label>: {{ event.limit_clients }}</div>
        <div><label>Количество участников</label>: {{ event.quantity_clients }}</div>
    {% endfor %}

{% else %}

    <div>Пусто</div>

{% endif %}