{% if events %}

    {% for event in events %}

        <div>
            <div><label>Название</label>: {{ event.name }}</div>
            <div><label>Сотрудники</label>:
                {% for employees_name in event.employees__name %}
                    {{ employees_name | default:'not'}}
                {% endfor %}
            </div>
            <button hx-get="{% url 'event_update' pk=event.id %}"
                    hx-target="#org-profile"
                    class="btn">
                    редактировать
            </button>
            <button hx-post="{% url 'event_delete' pk=event.id %}"
                    hx-target="#org-profile"
                    class="btn">
                    удалить
            </button>
        </div>

    {% endfor %}

{% endif %}

<div>
    <button hx-get="{% url 'event_create' pk=organization_id %}"
            hx-target="#org-profile"
            class="btn">
        добавить мероприятие
    </button>
</div>