<div id="org-profile">
    {% if event %}
        {% block event_profile %}
            {% include 'events/event_update.html' %}

            <button hx-get="{% url 'org_records_list' org_pk=organization_id event_pk=event_id page=1 %}"
                    hx-target="#record-profile"
                    hx-select="#record-profile"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    class="btn">
                    записи
            </button>
        {% endblock event_profile %}

        {% block record_profile %}
            <div id="record-profile">

            </div>
        {% endblock record_profile %}
    {% endif %}
</div>