<!--Центральная колонка-->
<div class="col-10 px-5">
    <div class="p-3" id="central-col">
        <div id="event-profile">
            {% if event %}

                {% block event_profile %}
                    {% include 'events/event_update.html' %}
                {% endblock event_profile %}

                    <button hx-get="{% url 'org_records_list' org_pk=organization_id event_pk=event_id page=1 %}"
                            hx-target="#record-profile"
                            hx-select="#record-profile"
                            hx-swap="outerHTML"
                            hx-push-url="true"
                            class="btn">
                            записи
                    </button>

                {% block record_profile %}
                    <div id="record-profile">

                    </div>
                {% endblock record_profile %}
            {% endif %}
        </div>
    </div>
</div>


<!--Правая колонка-->
<div class="col-2">
    <div class="p-3">
    </div>
</div>